@{
    ViewData["Title"] = "Home Page";
}

<form method="post" action="\Blog">
    <label>Username:</label><br />
    <input type="text" name="username" id="username" /><br />
    <label>Password:</label><br />
    <input type="text" name="password" id="password" /><br />
    
    <input type="submit" />
</form>