@using Blog.Db;
<!DOCTYPE html>
<html>
<head>
    <title>Display Person</title>
</head>
<body>
    <table style="outline: thin solid">
        <tr>
            <th>
                Titolo
            </th>
            <th>
                Descrizione
            </th>
        </tr>
      
    @foreach(Contenuti c in ViewBag.Contenuti)
    {
            <tr>
                <th>
                    @c.titolo;
                </th>
                <th>
                    @c.descrizione;
                </th>
            </tr>
    }
    </table>
</body>
</html>
